<a href="https://colab.research.google.com/github/shicong0720/public/blob/master/2_13_Query_OSM_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set up environment

In [1]:
!pip install pyproj

Requirement already satisfied: pyproj in /usr/local/lib/python3.6/dist-packages (3.0.0.post1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from pyproj) (2020.12.5)

In [2]:
import pandas as pd
from google.colab import drive
import os
import seaborn as sns
import numpy as np
import shapely
import math

In [3]:
drive.mount('/content/gdrive',force_remount=True)
os.chdir("/content/gdrive/My Drive/big data and city 2/")

Mounted at /content/gdrive

# Get 500 cities boundary

In [4]:
% pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.8.2)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.18)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (3.0.0.post1)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.7.1)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.3.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2020.12.5)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)

In [5]:
import geopandas as gpd

/usr/local/lib/python3.6/dist-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [6]:
area_boundary = gpd.read_file("500Cities_Tracts_Clip.geojson")
area_boundary.head()

  place2010  ...                                           geometry
0   0107000  ...  POLYGON ((-9653001.056 3974630.899, -9652982.0...
1   0107000  ...  POLYGON ((-9657462.853 3968794.996, -9657470.2...
2   0107000  ...  POLYGON ((-9657275.613 3972217.160, -9657275.3...
3   0107000  ...  POLYGON ((-9660666.407 3968887.964, -9660631.7...
4   0107000  ...  POLYGON ((-9661391.097 3968591.429, -9661398.2...

[5 rows x 7 columns]

In [7]:
area_boundary['area'] = np.nan
for i in range(len(area_boundary)):
  area_boundary.loc[i,'area'] = area_boundary.loc[i,'geometry'].area

In [8]:
area_boundary.head()

  place2010  ...          area
0   0107000  ...  1.102526e+07
1   0107000  ...  3.020969e+06
2   0107000  ...  1.155412e+07
3   0107000  ...  6.955719e+06
4   0107000  ...  5.082370e+06

[5 rows x 8 columns]

# Get Health Data from CDC

In [9]:
health_data = pd.read_csv("500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2018_release.csv")

In [10]:
health_data.head()

  StateAbbr  ...                           Geolocation
0        CA  ...  POINT (-118.224698433 34.0470512474)
1        CA  ...  POINT (-118.143832177 34.1633689905)
2        CA  ...  POINT (-117.883112998 33.8820402343)
3        TX  ...  POINT (-94.7523262965 32.5544549842)
4        WI  ...  POINT (-89.3623704161 43.1211036947)

[5 rows x 63 columns]

In [11]:
health_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27210 entries, 0 to 27209
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   StateAbbr               27210 non-null  object
 1   PlaceName               27210 non-null  object
 2   PlaceFIPS               27210 non-null  int64
 3   TractFIPS               27210 non-null  int64
 4   Place_TractID           27210 non-null  object
 5   Population2010          27210 non-null  int64
 6   ACCESS2_CrudePrev       27209 non-null  float64
 7   ACCESS2_Crude95CI       27209 non-null  object
 8   ARTHRITIS_CrudePrev     27210 non-null  float64
 9   ARTHRITIS_Crude95CI     27210 non-null  object
 10  BINGE_CrudePrev         27210 non-null  float64
 11  BINGE_Crude95CI         27210 non-null  object
 12  BPHIGH_CrudePrev        27210 non-null  float64
 13  BPHIGH_Crude95CI        27210 non-null  object
 14  BPMED_CrudePrev         27210 non-null  float64
 15  BPMED_Crude95CI         27210 non-null  object
 16  CANCER_CrudePrev        27210 non-null  float64
 17  CANCER_Crude95CI        27210 non-null  object
 18  CASTHMA_CrudePrev       27210 non-null  float64
 19  CASTHMA_Crude95CI       27210 non-null  object
 20  CHD_CrudePrev           27210 non-null  float64
 21  CHD_Crude95CI           27210 non-null  object
 22  CHECKUP_CrudePrev       27210 non-null  float64
 23  CHECKUP_Crude95CI       27210 non-null  object
 24  CHOLSCREEN_CrudePrev    27210 non-null  float64
 25  CHOLSCREEN_Crude95CI    27210 non-null  object
 26  COLON_SCREEN_CrudePrev  27191 non-null  float64
 27  COLON_SCREEN_Crude95CI  27191 non-null  object
 28  COPD_CrudePrev          27210 non-null  float64
 29  COPD_Crude95CI          27210 non-null  object
 30  COREM_CrudePrev         27107 non-null  float64
 31  COREM_Crude95CI         27107 non-null  object
 32  COREW_CrudePrev         27101 non-null  float64
 33  COREW_Crude95CI         27101 non-null  object
 34  CSMOKING_CrudePrev      27210 non-null  float64
 35  CSMOKING_Crude95CI      27210 non-null  object
 36  DENTAL_CrudePrev        27210 non-null  float64
 37  DENTAL_Crude95CI        27210 non-null  object
 38  DIABETES_CrudePrev      27210 non-null  float64
 39  DIABETES_Crude95CI      27210 non-null  object
 40  HIGHCHOL_CrudePrev      27210 non-null  float64
 41  HIGHCHOL_Crude95CI      27210 non-null  object
 42  KIDNEY_CrudePrev        27210 non-null  float64
 43  KIDNEY_Crude95CI        27210 non-null  object
 44  LPA_CrudePrev           27210 non-null  float64
 45  LPA_Crude95CI           27210 non-null  object
 46  MAMMOUSE_CrudePrev      27173 non-null  float64
 47  MAMMOUSE_Crude95CI      27173 non-null  object
 48  MHLTH_CrudePrev         27210 non-null  float64
 49  MHLTH_Crude95CI         27210 non-null  object
 50  OBESITY_CrudePrev       27210 non-null  float64
 51  OBESITY_Crude95CI       27210 non-null  object
 52  PAPTEST_CrudePrev       25008 non-null  float64
 53  PAPTEST_Crude95CI       25008 non-null  object
 54  PHLTH_CrudePrev         27210 non-null  float64
 55  PHLTH_Crude95CI         27210 non-null  object
 56  SLEEP_CrudePrev         27210 non-null  float64
 57  SLEEP_Crude95CI         27210 non-null  object
 58  STROKE_CrudePrev        27210 non-null  float64
 59  STROKE_Crude95CI        27210 non-null  object
 60  TEETHLOST_CrudePrev     27150 non-null  float64
 61  TEETHLOST_Crude95CI     27150 non-null  object
 62  Geolocation             27210 non-null  object
dtypes: float64(28), int64(3), object(32)
memory usage: 13.1+ MB

# Process Health Data and get the Longitude and Latitude

In [12]:
health_data = health_data[['Geolocation','Place_TractID','Population2010','ACCESS2_CrudePrev','ARTHRITIS_CrudePrev','BINGE_CrudePrev','BPHIGH_CrudePrev','BPMED_CrudePrev','CANCER_CrudePrev','CASTHMA_CrudePrev', 'CHD_CrudePrev', 'CHECKUP_CrudePrev','CHOLSCREEN_CrudePrev','COLON_SCREEN_CrudePrev','COPD_CrudePrev','COREM_CrudePrev','CSMOKING_CrudePrev','DENTAL_CrudePrev','DIABETES_CrudePrev','HIGHCHOL_CrudePrev', 'KIDNEY_CrudePrev', 'LPA_CrudePrev', 'MAMMOUSE_CrudePrev', 'MHLTH_CrudePrev', 'OBESITY_CrudePrev','PHLTH_CrudePrev','SLEEP_CrudePrev','STROKE_CrudePrev','TEETHLOST_CrudePrev']].reset_index(drop=True)
health_data.head()

                            Geolocation  ... TEETHLOST_CrudePrev
0  POINT (-118.224698433 34.0470512474)  ...                18.8
1  POINT (-118.143832177 34.1633689905)  ...                18.1
2  POINT (-117.883112998 33.8820402343)  ...                11.9
3  POINT (-94.7523262965 32.5544549842)  ...                15.1
4  POINT (-89.3623704161 43.1211036947)  ...                12.9

[5 rows x 29 columns]

In [13]:
health_data['longitude'] = np.nan
health_data['latitude'] = np.nan
i = 0
while i  < health_data.shape[0]:
  a = health_data.loc[i, 'Geolocation']
  a = a.split()
  health_data.loc[i,'longitude'] = float(a[1].replace('(', ''))
  health_data.loc[i,'latitude'] = float(a[2].replace(')', ''))
  i += 1

In [14]:
health_data

                                Geolocation  ...   latitude
0      POINT (-118.224698433 34.0470512474)  ...  34.047051
1      POINT (-118.143832177 34.1633689905)  ...  34.163369
2      POINT (-117.883112998 33.8820402343)  ...  33.882040
3      POINT (-94.7523262965 32.5544549842)  ...  32.554455
4      POINT (-89.3623704161 43.1211036947)  ...  43.121104
...                                     ...  ...        ...
27205   POINT (-122.407558152 37.802272509)  ...  37.802273
27206  POINT (-89.3744412801 43.0873306533)  ...  43.087331
27207  POINT (-86.7590618024 36.1790862802)  ...  36.179086
27208  POINT (-104.784179329 39.6301998349)  ...  39.630200
27209   POINT (-111.81415951 33.4260910152)  ...  33.426091

[27210 rows x 31 columns]

# Get data from OPENSTREETMAP

In [33]:
import requests
import json


overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json][timeout:900];
area[name="United States"][admin_level=2]->.s;
( 
  node(area.s)["public_transport"="platform"];
)->._;
out center;
"""
response = requests.get(overpass_url,
                        params={'data': overpass_query})
data = response.json()

JSONDecodeError: ignored

In [22]:
data

{'elements': [],
 'generator': 'Overpass API 0.7.56.8 7d656e78',
 'osm3s': {'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.',
  'timestamp_areas_base': '2021-02-19T11:06:03Z',
  'timestamp_osm_base': '2021-02-19T11:49:03Z'},
 'remark': 'runtime error: Query timed out in "query" at line 5 after 181 seconds.',
 'version': 0.6}

https://janakiev.com/blog/openstreetmap-with-python-and-overpass-api/
Loading Data from OpenStreetMap with Python and the Overpass API

In [23]:
import matplotlib.pyplot as plt

# Collect coords into list
coords = []
for element in data['elements']:
  if element['type'] == 'node':
    lon = element['lon']
    lat = element['lat']
    coords.append((lon, lat))
  elif 'center' in element:
    lon = element['center']['lon']
    lat = element['center']['lat']
    coords.append((lon, lat))

# Convert coordinates into numpy array
X = np.array(coords)

plt.plot(X[:, 0], X[:, 1], 'o')
plt.title('POI in US')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.axis('equal')
plt.show()

IndexError: ignored

In [ ]:

X.shape

In [ ]:
X= pd.DataFrame(X)
X

# Turn health data and POI data into GeoDataFrame

In [ ]:

health_data_GEO = gpd.GeoDataFrame(health_data,   geometry=gpd.points_from_xy(health_data.longitude, health_data.latitude))
health_data_GEO.set_crs(epsg=4326, inplace=True)

In [ ]:
POI_GEO = gpd.GeoDataFrame(X,   geometry=gpd.points_from_xy(X[0], X[1]))
POI_GEO.set_crs(epsg=4326, inplace=True)
POI_GEO

# Setup sjoin (run twice)

In [ ]:
!apt-get install -qq curl g++ make

In [ ]:
!curl -L http://download.osgeo.org/libspatialindex/spatialindex-src-1.8.5.tar.gz | tar xz

In [ ]:
os.chdir('spatialindex-src-1.8.5')

In [ ]:
!mount -o remount,exec /content

In [ ]:
!./configure

In [ ]:
!make

In [ ]:
!make install

In [ ]:
!apt install libspatialindex-dev
!pip install rtree
!pip install pygeos

In [ ]:
!ldconfig

In [ ]:
!apt install libspatialindex-dev
!pip install rtree

In [ ]:
import rtree
import pygeos

# Space join

In [ ]:
health_join = pd.merge(area_boundary, health_data, left_on='plctract10', right_on = 'Place_TractID')
health_join_GEO = gpd.GeoDataFrame(health_join, crs="EPSG:4326", geometry='geometry_x')

In [ ]:
POI_join = gpd.sjoin(POI_GEO, health_join_GEO.to_crs(epsg=4326), how='right',op='within')
POI_join.head()

In [ ]:
POI_join.info()

In [ ]:
res = POI_join[[0, 1,'Place_TractID','area']]
res

In [ ]:
res.nunique()

# Get Count for Each GEOID

In [ ]:
count = res.groupby('Place_TractID').count()
count

In [ ]:
res2 = pd.merge(res, count, on = ['Place_TractID'], how = 'inner')
res2

In [ ]:

run_count = res2.drop_duplicates(keep = 'first', subset = 'Place_TractID')
run_count = run_count.loc[:,['0_x','1_x','Place_TractID','area_x','0_y']]
run_count.reset_index(drop=True)

# Get points distance standard deviation

In [ ]:
mean = res2.groupby('Place_TractID').mean()
mean

In [ ]:

run_std =  pd.merge(res2, mean, on = ['Place_TractID'])
run_std

In [ ]:
run_std['(x-c)^2 + (y-c)^2'] = (run_std['0_x_x'] - run_std['0_x_y'])**2 + (run_std['1_x_x'] - run_std['1_x_y'])**2
run_std = run_std.loc[:,['(x-c)^2 + (y-c)^2', 'Place_TractID']].groupby('Place_TractID').sum()
run = pd.merge(run_count, run_std, on = ['Place_TractID'], how = 'right')
run

In [ ]:
run['STD'] = np.nan

for i in range (0,run.shape[0]):
  run.at[i, 'STD'] = math.sqrt(run.at[i, '(x-c)^2 + (y-c)^2'])/run.at[i, '0_y']

run

In [ ]:
s = pd.merge(run, health_join, on = ['Place_TractID'], how = 'left')
s

In [ ]:
run = run[['STD','0_y']]
run

In [ ]:
US_heal = s[['area','Population2010','ACCESS2_CrudePrev','ARTHRITIS_CrudePrev','BINGE_CrudePrev','BPHIGH_CrudePrev','BPMED_CrudePrev','CANCER_CrudePrev','CASTHMA_CrudePrev', 'CHD_CrudePrev', 'CHECKUP_CrudePrev','CHOLSCREEN_CrudePrev','COLON_SCREEN_CrudePrev','COPD_CrudePrev','COREM_CrudePrev','CSMOKING_CrudePrev','DENTAL_CrudePrev','DIABETES_CrudePrev','HIGHCHOL_CrudePrev', 'KIDNEY_CrudePrev', 'LPA_CrudePrev', 'MAMMOUSE_CrudePrev', 'MHLTH_CrudePrev', 'OBESITY_CrudePrev','PHLTH_CrudePrev','SLEEP_CrudePrev','STROKE_CrudePrev','TEETHLOST_CrudePrev']]

In [ ]:
US_heal

In [ ]:
US_heal.info()

# Export data

In [ ]:
os.chdir("/content/gdrive/My Drive/big data and city 2/")

In [ ]:
run.to_csv('public_transport_platform.csv', header=False, index=False)
#US_heal.to_csv('US_heal.csv', header=False, index=False)